<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guestbook.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @guestbook.content %>
</p>

<%= link_to 'Edit', edit_guestbook_path(@guestbook) %> |
<%= link_to 'Back', guestbooks_path %>
